.contPrincipal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 70px;
}

.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cuSel {
  padding: 20px;
}
.select {
  background-color: #000000;
  color: #fff;
  border-radius: 5rem;
  font-size: 25px;
  height: 100%;
  width: 400px;
  border-color: #d78531;

}
.container{
  width: 97.5dvw;
}

  
  